In [1]:
import pandas as pd

In [2]:
# URL for the 'California Crime Rate by Cities Table'
url = 'https://en.wikipedia.org/wiki/California_locations_by_crime_rate'

In [3]:
# Use the read_html function in Pandas to automatically scrape any tabular data from a page
tables = pd.read_html(url)
tables

[                                         0         1            2
 0                            Population[1]  38802500  38802500.00
 1                         Violent crime[1]    153709         3.96
 2  Murder and nonnegligent manslaughter[1]      1699         0.04
 3                          Rape[1][note 1]     11527         0.30
 4                               Robbery[1]     48680         1.26
 5                    Aggravated assault[1]     91803         2.37
 6                        Property crime[1]    947192        24.41
 7                              Burglary[1]    202670         5.22
 8                         Larceny-theft[1]    592670        15.27
 9                   Motor vehicle theft[1]    151852         3.91,
              County  Population[2]  Populationdensity[2][3][note 2]  \
 0           Alameda        1559308                           2109.8
 1            Alpine           1202                              1.6
 2            Amador          37159                             62.5
 3             Butte         221578                            135.4
 4         Calaveras          44921                             44.0
 5            Colusa          21424                             18.6
 6      Contra Costa        1081232                           1496.0
 7         Del Norte          28066                             27.9
 8         El Dorado         181465                            106.3
 9            Fresno         948844                            159.2
 10            Glenn          28019                             21.3
 11         Humboldt         134876                             37.8
 12         Imperial         177026                             42.4
 13             Inyo          18439                              1.8
 14             Kern         857730                            105.5
 15            Kings         151390                            109.0
 16             Lake          64209                             51.1
 17           Lassen          33356                              7.3
 18      Los Angeles        9974203                           2457.9
 19           Madera         152452                             71.3
 20            Marin         256802                            493.4
 21         Mariposa          17946                             12.4
 22        Mendocino          87612                             25.0
 23           Merced         261609                            135.2
 24            Modoc           9335                              2.4
 25             Mono          14193                              4.7
 26         Monterey         424927                            129.5
 27             Napa         139253                            186.1
 28           Nevada          98606                            103.0
 29           Orange        3086331                           3903.6
 30           Placer         361518                            256.9
 31           Plumas          19286                              7.6
 32        Riverside        2266899                            314.6
 33       Sacramento        1450277                           1503.0
 34       San Benito          56888                             41.0
 35   San Bernardino        2078586                            103.6
 36        San Diego        3183143                            756.7
 37    San Francisco         829072                          17680.1
 38      San Joaquin         701050                            503.9
 39  San Luis Obispo         274184                             83.1
 40        San Mateo         739837                           1649.7
 41    Santa Barbara         431555                            157.8
 42      Santa Clara        1841569                           1427.3
 43       Santa Cruz         267203                            600.2
 44           Shasta         178520                             47.3
 45           Sierra           3019                              3.2
 46         Siskiyou          44261                              7.1
 47           Solano         421624                            513.1
 48           Sonoma         491790                            312.1
 49       Stanislaus         522794                            349.8
 50           Sutter          95067                            157.8
 51           Tehama          63284                             21.5
 52          Trinity          13515                              4.3
 53           Tulare         451108                             93.5
 54         Tuolumne          54347                             24.5
 55          Ventura         835790                            453.5
 56             Yolo         204162                            201.2
 57             Yuba          73059                            115.6

     Violent crimes[4]  Violent crime rateper 1,000 persons  \
 0               10356                                  6.6
 1                   4                                  3.3
 2                  81                                  2.2
 3                 678                                  3.1
 4                 113                                  2.5
 5                  40                                  1.9
 6                3650                                  3.4
 7                 165                                  5.9
 8                 409                                  2.3
 9                4547                                  4.8
 10                125                                  4.5
 11                485                                  3.6
 12                583                                  3.3
 13                106                                  5.7
 14               4465                                  5.2
 15                696                                  4.6
 16                307                                  4.8
 17                140                                  4.2
 18              42725                                  4.3
 19                888                                  5.8
 20                454                                  1.8
 21                 71                                  4.0
 22                512                                  5.8
 23               1485                                  5.7
 24                 49                                  5.2
 25                 36                                  2.5
 26               1833                                  4.3
 27                534                                  3.8
 28                308                                  3.1
 29               6257                                  2.0
 30                596                                  1.6
 31                 91                                  4.7
 32               6260                                  2.8
 33               7452                                  5.1
 34                196                                  3.4
 35               8281                                  4.0
 36              10585                                  3.3
 37               6822                                  8.2
 38               5346                                  7.6
 39               1177                                  4.3
 40               1561                                  2.1
 41               1294                                  3.0
 42               4676                                  2.5
 43               1139                                  4.3
 44               1275                                  7.1
 45                 11                                  3.6
 46                137                                  3.1
 47               2109                                  5.0
 48               1821                                  3.7
 49               2826                                  5.4
 50                316                                  3.3
 51                321                                  5.1
 52                 34                                  2.5
 53               1903                                  4.2
 54                151                                  2.8
 55               1890                                  2.3
 56                757                                  3.7
 57                296                                  4.1

     Property crimes[4]  Property crime rateper 1,000 persons
 0                57620                                  37.0
 1                   24                                  20.0
 2                  629                                  16.9
 3                 6631                                  29.9
 4                  989                                  22.0
 5                  350                                  16.3
 6                32232                                  29.8
 7                  649                                  23.1
 8                 3138                                  17.3
 9                32535                                  34.3
 10                 527                                  18.8
 11                4787                                  35.5
 12                5536                                  31.3
 13                 303                                  16.4
 14               28283                                  33.0
 15                3475                                  23.0
 16                1832                                  28.5
 17                 521                                  15.6
 18              217493                                  21.8
 19                3380                                  22.2
 20                4565                                  17.8
 21                 276                                  15.4
 22                1546                                  17.6
 23                7126                                  27.2
 24                 166                                  17.8
 25                 184                                  13.0
 26               10577                                  24.9
 27                2385                                  17.1
 28                1591                                  16.1
 29               54754                                  17.7
 30                6643                                  18.4
 31                 312                                  16.2
 32               61434                                  27.1
 33               40246                                  27.8
 34                 736                                  12.9
 35               54778                                  26.4
 36               59050                                  18.6
 37               45936                                  55.4
 38               25092                                  35.8
 39                5683                                  20.7
 40               14186                                  19.2
 41                9088                                  21.1
 42               43084                                  23.4
 43                8121                                  30.4
 44                5705                                  32.0
 45                  29                                   9.6
 46                 724                                  16.4
 47               13453                                  31.9
 48                8583                                  17.5
 49               18559                                  35.5
 50                2364                                  24.9
 51                1589                                  25.1
 52                 174                                  12.9
 53               11398                                  25.3
 54                1157                                  21.3
 55               16812                                  20.1
 56                5507                                  27.0
 57                2135                                  29.2  ,
           City/Agency           County  Population[5]  \
 0            Adelanto   San Bernardino          31213
 1        Agoura Hills      Los Angeles          20767
 2             Alameda          Alameda          77048
 3              Albany          Alameda          19350
 4            Alhambra      Los Angeles          84931
 5         Aliso Viejo           Orange          50671
 6             Alturas            Modoc           2615
 7     American Canyon             Napa          20379
 8             Anaheim           Orange         346956
 9            Anderson           Shasta          10176
 10             Angels        Calaveras           3716
 11            Antioch     Contra Costa         108223
 12       Apple Valley   San Bernardino          71329
 13            Arcadia      Los Angeles          57950
 14             Arcata         Humboldt          17748
 15      Arroyo Grande  San Luis Obispo          17829
 16            Artesia      Los Angeles          16788
 17              Arvin             Kern          20541
 18         Atascadero  San Luis Obispo          29268
 19           Atherton        San Mateo           7221
 20            Atwater           Merced          28961
 21             Auburn           Placer          14042
 22             Avalon      Los Angeles           3784
 23             Avenal            Kings          13914
 24              Azusa      Los Angeles          48224
 25        Bakersfield             Kern         367406
 26       Baldwin Park      Los Angeles          76933
 27            Banning        Riverside          30699
 28            Barstow   San Bernardino          23349
 29           Beaumont        Riverside          41323
 ..                ...              ...            ...
 429        Villa Park           Orange           5982
 430           Visalia           Tulare         128488
 431             Vista        San Diego          97651
 432            Walnut      Los Angeles          30282
 433      Walnut Creek     Contra Costa          67555
 434         Waterford       Stanislaus           8646
 435       Watsonville       Santa Cruz          52778
 436              Weed         Siskiyou           2894
 437       West Covina      Los Angeles         108136
 438    West Hollywood      Los Angeles          35507
 439  Westlake Village      Los Angeles           8452
 440       Westminster           Orange          92217
 441       Westmorland         Imperial           2264
 442   West Sacramento             Yolo          50152
 443         Wheatland             Yuba           3521
 444          Whittier      Los Angeles          86952
 445          Wildomar        Riverside          33921
 446          Williams           Colusa           5188
 447           Willits        Mendocino           4814
 448           Willows            Glenn           6089
 449           Windsor           Sonoma          27350
 450           Winters             Yolo           6962
 451          Woodlake           Tulare           7700
 452          Woodland             Yolo          56854
 453       Yorba Linda           Orange          67702
 454        Yountville             Napa           2978
 455             Yreka         Siskiyou           7558
 456         Yuba City           Sutter          65525
 457           Yucaipa   San Bernardino          52794
 458      Yucca Valley   San Bernardino          21228

      Populationdensity[5][3][note 2]  Violent crimes[5]  \
 0                              557.3                189
 1                             2664.8                 17
 2                             7378.7                145
 3                            10822.1                 31
 4                            11129.7                168
 5                             7323.5                 35
 6                             1073.9                 29
 7                             3351.3                 55
 8                             6942.3               1101
 9                             1597.0                 96
 10                            1024.3                  7
 11                            3820.1                849
 12                             958.2                212
 13                            5304.3                 60
 14                            1952.0                 78
 15                            3056.6                 52
 16                           10356.6                 49
 17                            4262.5                177
 18                            1138.3                 72
 19                            1435.9                  3
 20                            4736.8                182
 21                            1962.8                 44
 22                            1289.3                 20
 23                             716.4                 18
 24                            4994.2                165
 25                            2473.3               1678
 26                           11602.0                219
 27                            1329.0                128
 28                             564.8                217
 29                            1334.4                 71
 ..                               ...                ...
 429                           2877.3                  5
 430                           3448.6                484
 431                           5227.6                340
 432                           3367.7                 29
 433                           3418.9                 74
 434                           3713.9                 18
 435                           7891.4                265
 436                            604.2                 20
 437                           6741.2                225
 438                          18816.6                267
 439                           1630.1                  7
 440                           9182.2                194
 441                           3837.3                  8
 442                           2333.1                262
 443                           2160.1                  4
 444                           5935.7                239
 445                           1432.0                 39
 446                            953.0                  6
 447                           1720.5                 33
 448                           2138.7                 22
 449                           3763.1                 86
 450                           2372.1                 21
 451                           3334.8                 30
 452                           3714.5                298
 453                           3505.3                 45
 454                           1945.1                  7
 455                            756.9                 62
 456                           4473.0                223
 457                           1858.9                 71
 458                            530.5                 75

      Violent crime rateper 1,000 persons  Property crimes[5]  \
 0                                   6.06                 790
 1                                   0.82                 234
 2                                   1.88                1723
 3                                   1.60                 478
 4                                   1.98                1743
 5                                   0.69                 273
 6                                  11.09                  89
 7                                   2.70                 568
 8                                   3.17                8196
 9                                   9.43                 617
 10                                  1.88                  48
 11                                  7.84                4190
 12                                  2.97                1654
 13                                  1.04                1159
 14                                  4.39                 702

In [4]:
# Create Data Frame to Grab Table Data
crime_rate_df = tables[2]
crime_rate_df.columns = ['City','County', 'Population', 'Population density', 'Violent crimes',  
              'Violent crime rate per 1,000 persons', 'Property Crimes', 'Property crime rate per 1,000 persons']
crime_rate_df.head()

,City,County,Population,Population density,Violent crimes,"Violent crime rate per 1,000 persons",Property Crimes,"Property crime rate per 1,000 persons"
0,Adelanto,San Bernardino,31213,557.3,189,6.06,790,25.31
1,Agoura Hills,Los Angeles,20767,2664.8,17,0.82,234,11.27
2,Alameda,Alameda,77048,7378.7,145,1.88,1723,22.36
3,Albany,Alameda,19350,10822.1,31,1.60,478,24.70
4,Alhambra,Los Angeles,84931,11129.7,168,1.98,1743,20.52

In [5]:
# Delete unwanted columns using the columns parameter of drop
clean_crime_df = crime_rate_df.drop(["County","Population", "Population density", "Violent crime rate per 1,000 persons", "Property crime rate per 1,000 persons"], axis=1)
clean_crime_df.head()

           City  Violent crimes  Property Crimes
0      Adelanto             189              790
1  Agoura Hills              17              234
2       Alameda             145             1723
3        Albany              31              478
4      Alhambra             168             1743

In [6]:
# Set the index to the 'City' column
clean_crime_df.set_index('City', inplace=True)
clean_crime_df.head()

              Violent crimes  Property Crimes
City
Adelanto                 189              790
Agoura Hills              17              234
Alameda                  145             1723
Albany                    31              478
Alhambra                 168             1743

In [7]:
# Get sample form Data Frame
clean_crime_df.loc['San Diego']

Violent crimes      5214
Property Crimes    26812
Name: San Diego, dtype: int64

In [8]:
# Save the table directly to a file
clean_crime_df.to_html('crime_rate_table.html')