In [1]:
import pandas as pd

In [2]:
# Read the CSV into a Pandas DataFrame
csv_path = "Resources/median_home_price_city_ca.csv"
home_df = pd.read_csv(csv_path)
home_df.head()

   RegionID           City          County       Aug-19
0     12447    Los Angeles    Los Angeles      475,000
1     54296      San Diego      San Diego      437,000
2     33839       San Jose    Santa Clara      626,000
3     20330  San Francisco  San Francisco    1,045,000
4     20288     Sacramento     Sacramento      231,000

In [3]:
# Delete unwanted columns using the columns parameter of drop
clean_home_df = home_df.drop(["RegionID", "County"], axis=1)
clean_home_df.head()

            City       Aug-19
0    Los Angeles     475,000
1      San Diego     437,000
2       San Jose     626,000
3  San Francisco   1,045,000
4     Sacramento     231,000

In [4]:
# Rename the last column
clean_home_df.rename(columns={"Aug-19": "Median Home Price"}, inplace=True)
clean_home_df.head()

            City Median Home Price
0    Los Angeles          475,000
1      San Diego          437,000
2       San Jose          626,000
3  San Francisco        1,045,000
4     Sacramento          231,000

In [5]:
# Set the index to the 'City' column
clean_home_df.set_index('City', inplace=True)
clean_home_df.head()

              Median Home Price
City
Los Angeles            475,000
San Diego              437,000
San Jose               626,000
San Francisco        1,045,000
Sacramento             231,000

In [ ]:
# Save the table directly to an html file
clean_home_df.to_html('Resources/clean_home_table.html')

In [6]:
# Export dataframe to CSV file
clean_home_df.to_csv('Resources/clean_home.csv')